
#content-container {
    margin: auto;
    padding: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block; 
    border-radius: 50px;
}

.img-box {
    margin: auto;
    width: 75%;
    padding: 20px;
}

.title, .date {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
}

.date {
    font-size: .75em;
}

.body::first-letter {
    font-weight: bolder;
    font-size: 2em;
}

.body {
    width: 90%;
    margin: auto;
    text-indent: 3ch;
    text-align: justify;
    font-size: 1em;
    padding-bottom: 15px;
}

hr {
    margin-bottom: 20px;
}

