#sort-button{
    background-image: url(img/sortNewestFirst.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}

#email-button{
    background-image: url(img/email-icon.png);
    background-size: cover;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
}

#content-container {
    margin: auto;
    padding: 10px;
}

.post {
    padding-top: 15px;
}

.post:nth-of-type(even) {
    background-color: cornsilk;
}

.post:nth-of-type(odd) {
    background-color: rgb(211, 210, 208);
}

.img-round {
    max-width: 100%;
    max-height: 100%;
    display: block; 
    border-radius: 50px;
}

.post-img {
    margin: auto;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.img-boxz {
    margin: auto;
    width: 75%;
    padding: 0px;
}

#avatar {
    margin: auto;
    width: 40%;
    border-radius: 50%;
    animation: rotation 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
 }

.main-header {
    background-color: powderblue;
    padding: 20px 10px 8px 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    border-radius: 25%;
    box-shadow: 3px 3px black;
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

h3 {
    margin-top: 0px;
}

.title, .date, .body, h1, h2, h3 {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px;
}

.date {
    font-size: .75em;
}

.body::first-letter {
    font-weight: bolder;
    font-size: 2em;
}

.body {
    width: 90%;
    margin: auto;
    text-indent: 3ch;
    text-align: justify;
    font-size: 1em;
    padding-bottom: 15px;
}

hr {
    margin-bottom: 20px;
}

/* Email List Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: lightskyblue;
    border: 5px solid black;
  }
  
  /* Modal Content/Box */
  .emailForm {
    text-align: center;
    
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }


/* Media Queries */

@media screen and (min-width: 768px) {
    #sort-button #email-button {
        width:  40px;
        height: 40px;
    }

    #content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .post {
        flex: 50%;
    }

    .post-img {
        width:  300px;
        height: 300px;
    }

    .main-header {
        max-width: 100%;
        background-color: yellow;
        padding: 0px 0px 10px 0px;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 10%;
        border-radius: 0%;
    }

    #avatar {
        margin: auto;
        width: 150px;
        border-radius: 50%;
        padding: 2%;
    }


}

@media screen and (min-width: 1440px) {
    .main-header {
        background-color: red;
    }

    #sort-button #email-button {
        width:  70px;
        height: 70px;
    }

    .main-header {
        margin-bottom: 2%;
    }

    .post {
        flex: 32%;
    }

    .post-img {
        width:  400px;
        height: 400px;
    }
    
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
}